svg {
    width: 200px;
  }
  
  .skinny {
    fill: #8e8f8f;
    opacity: 0;
  }
  .cls-2 {
    fill: #5e646d;
  }
  .cls-3 {
    fill: #edab80;
  }
  .fat {
    fill: #8e8f8f;
  }
  .cls-5 {
    fill: #393f44;
  }
  .cls-6 {
    fill: #e19e70;
  }
  .cls-7 {
    fill: #df9c70;
  }
  .cls-8 {
    fill: #393f3f;
  }
  .cls-9 {
    fill: #484e56;
  }
  .cls-10 {
    fill: #e7a071;
  }
  .cls-11 {
    fill: #d9908f;
    transform-origin: left bottom;
    transform:
      rotate(90deg)
      translate(0, -200%)
      rotate(90deg)
      translate(0, 100%);
  }
  